.jumbotron {
	background-color: rgba(0, 238, 255, 0.897);
	color: black;
	margin-top: 50px;
}
.img-fluid {
	width: 100%;
	height: 300px;
}
.btn {
	background-color: rgb(214, 203, 203);
	color: green;
}
footer {
	padding: 10px 10px 10px;
	background-color: rgba(0, 238, 255, 0.897);
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 8px;
	margin-bottom: 0px;
	
}
.btn-reserva {
	width: 100%;

}

.tab-content {
	padding-top: 10px;

}
.footer-address-icon {
	padding-right: 10px;
}
