@cyan: #e76915e5;

.margenes(@top: 0px,  @bottom: 0px){
	margin-top: @top;
	margin-top: @bottom;
}

.jumbotron {
	background-color: @cyan;
	color: black;
	.margenes(50px, 5px);
}
  
  .img-fluid {
	width: 100%;
	height: 300px; 
}
  
  .btn {
	background-color: #d6cbcb;
	color: green; }
  
  footer {
	padding: 10px 10px 10px;
	background-color: @cyan;
	.margenes(10px, 0px);
}
  
  .card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	.margenes(10px, 0px);
}
  
  .btn-reserva {
	width: 100%; 
}
  
  .tab-content {
	padding-top: 10px; 
}
  
  .footer-address-icon {
	padding-right: 10px; 
}