.jumbotron {
  background-color: #00eeffe5;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

.img-fluid {
  width: 100%;
  height: 300px; }

.btn {
  background-color: #d6cbcb;
  color: green; }

footer {
  padding: 10px 10px 10px;
  background-color: #00eeffe5;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 8px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.tab-content {
  padding-top: 10px; }

.footer-address-icon {
  padding-right: 10px; }
