$cyan: #00eeffe5;
$yellow:#ecf543;
$red:#fa0000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;

}

.jumbotron {
	background-color: $cyan;
	color: black;
	@include margenes(50px, 15px);
}
.img-fluid {
	width: 100%;
	height: 300px;
}
.btn {
	background-color: rgb(214, 203, 203);
	color: green;
}
footer {
	padding: 10px 10px 10px;
	background-color: $cyan ;
	margin-bottom: 0px;
	@include margenes(10px, 0px);
}
.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 8px;
	@include margenes(10px, 0px);
	
}
.btn-reserva {
	width: 100%;

}

.tab-content {
	padding-top: 10px;

}
.footer-address-icon {
	padding-right: 10px;
}