.jumbotron {
  background-color: #e76915e5;
  color: black;
  margin-top: 50px;
  margin-top: 5px;
}
.img-fluid {
  width: 100%;
  height: 300px;
}
.btn {
  background-color: #d6cbcb;
  color: green;
}
footer {
  padding: 10px 10px 10px;
  background-color: #e76915e5;
  margin-top: 10px;
  margin-top: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-top: 0px;
}
.btn-reserva {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
